.zoteroButton > a > .buttonicon
{
    background-image: url('../static/images/zotero.png');
}

.test
{
    color: red;
}

/* Popup container */
.popup {
    position:absolute;
    right: 30px;
    top: 12%;
  }

.popup .zotero-popup {
    max-width: 410px;
    position: absolute;
    left: 75%;
    top: 40%;
  }
  
.popup .radio-btn
{
    margin-right: 5px;
    margin-left: 10px;
}

.popup .radio-label 
{
    margin-left: 5px;
    font-weight: bold;
}

.popup .search-label
{
    margin-left: 5px;
    margin-right: 10px;
    font-weight: bold;
}

.popup .radio-inline 
{
    margin-left: 5px;
}

/* Modals */
.modal .radio-btn
{
    margin-right: 5px;
    margin-left: 10px;
}

.modal .radio-label 
{
    margin-left: 30px;
    font-weight: bold;
}

.modal .radio-inline 
{
    margin-left: 5px;
}


.modal 
{
    top: 10%;
    right: 30%;
    left: 30%;
    overflow-y: auto;
}

.modal h5
{
    font-weight: bold;
}

.modal ul
{
    margin-left: 30px;
}

.modal li
{
    padding-bottom: 5px;
}

.modal .modal-body label
{
    padding-right: 20px;
}

.modal .btn-primary.sort
{
    margin-left: 10px;
    padding: 0 12px;
    font-weight: normal;
}

.modal .ajax-loading
{
    background: url("../images/ajax-loader.gif") no-repeat center;
}
.modal .groups-libraries
{
    margin-top: 20px;
}

.delete-ids
{
    padding: 1px 5px;
    font-size: 11px;
    margin-left: 20px;
}

/* Bootstrap fixes */
.modal .table tbody>tr>td
{
    vertical-align: middle;
}

.modal-body 
{
    max-height: 330px;
    overflow: auto;
}

.modal-dialog 
{
    width: auto;
}

.input-api
{
    width:250px;
}

/*
.zotero-entry
{
   text-decoration-line: overline
   text-decoration: underline wavy
   text-shadow: 0 0 2px
}
*/

.label-api
{
    padding: 0px 10px;
}

.td-group
{
    font-weight: bold;
    font-style: italic;
}

.td-item-title
{
    font-weight: bold;
}

.td-item
{
    font-style: italic;
}